<div id="campo-direita" class="mdl-card mdl-shadow--2dp">
    <div>
        <h4>Dados do Sistema</h4>
    </div>
    <div id="info">
        <div>
            <span class="valor mdl-typography--title">{{ total }}</span>
            <span class="tipo">Ocorrências</span>
        </div>
        <div>
            <span class="valor mdl-typography--title">{{ furto }}</span>
            <span class="tipo">Furto</span>
        </div>
        <div>
            <span class="valor mdl-typography--title">{{ roubo }}</span>
            <span class="tipo">Roubo</span>
        </div>
    </div>
    <hr />
    <div id="top_x_div" style="width: 300px; height: 200px;"></div>
</div>